<h3><%= @issue.title + "(#{@issue.number})" %></h3>
<p>
  <%= @issue.body %>
</p>

<% @comments.each do |comment| %>
<h4>
  <%= "#{comment.user.login} commented on #{comment.created_at}" %>
</h4>
<p>
  <%= comment.body %>
</p>
<% end %>

<input type="textarea">
<input type="submit" value="Add comment">
