<div class="layout-minor">
  <nav role="navigation" class="toc" id="toc">
  <% if @repo_string %>
  <h2><%= @repo_string %></h2>
  <% end %>
    <ul class="sectlevel1">
      <li>
        <h3><a href="/<%= @repo_string %>">Overview</a></h3>
      </li>
      <li>
        <h3><a href="/<%= @repo_string %>">Discussions</a></h3>
      </li>
    </ul>
  </nav>
</div>

<main id="content" class="layout-major">

<%= yield %>

</main>
