</main>

<div class="top layout-semibreve">
  <h2>How to Sign Up</h2>
  <ol>
    <li>Sign up for a <a href="https://github.com/">GitHub.com</a> account</li>
    <li>Choose the <strong>free</strong> plan</li>
    <li>Come back to our forum and <a href="/forum/signin">sign in</a></li>
    <li>Authorize our forum to talk to your new GitHub account.</li>
    <li>Start having great discussions</li>
  </ol>
</div>

<div class="slab-blue">
    <div class="layout-semibreve">
        <div class="highlight highlight-with-avatar">
            <a href="https://github.com/"><img class="highlight-avatar" src="/images/github_mark.png"/></a>
            <p>Our forum is powered by <a href="https://github.com/">GitHub</a> Issues. No database needed, no worry about security. It's all opensource and taken care of.</p>
        </div>
    </div>
</div>
