<div class="top">
  <h2>Welcome!</h2>
</div>

<h4>What is this?</h4>
<p>This site provides a simplified interface for GitHub Issues, intended to make it easier for those new to GitHub to participate in discussions happening on projects.</p>

<h4>How to use it</h4>
<p>Explore a project's discussions by putting the project name in the URL like this:
  <br>
  /forum/USERNAME/REPONAME</p>
<p>For example, to view this project, you would go to:
  <br>
  <a href="http://cfa-forum.herokuapp.com/forum/codeforamerica/forum">http://cfa-forum.herokuapp.com/forum/codeforamerica/forum</a></p>

<h4>How do I participate in discussions?</h4>
<p>To comment, you need to be signed in to your GitHub account. If you don't have one, head on over to the <a href="/forum/signup">"Sign up"</a> page and set up a free account in about a minute!</p>

<h4>Project details</h4>
<p>To learn more about this project or contribute, head on over to:
  <br>
  <a href="https://github.com/codeforamerica/forum">https://github.com/codeforamerica/forum</a></p>

<div class="clear"></div>

