#global-footer {
  margin-top : 25px;
}

.layout-minor {
  color: black;
}

.layout-minor ul {
  color: black;
}

.comment-body {
  padding-left: 18px;
}

.layout-semibreve, .layout-chimney, .layout-chimney-invert, .layout-breve {
  padding: 0;
}

h1 {
  margin: 0;
}

.label, .label:link {
  background: rgba(109, 110, 113, 0.4);
  border-radius: 3px;
  color: white;
  display: block;
  font-weight: normal;
  margin: 0 5px 8px 0;
  padding: 3px 13px;
  text-decoration: none;
}

textarea, input {
  width: 100%;
}



