#global-footer {
  margin-top : 25px;
}

.layout-minor {
  color: black;
}

.layout-minor ul {
  color: black;
}

.comment-body {
  padding-left: 18px;
}

.layout-semibreve, .layout-chimney, .layout-chimney-invert, .layout-breve {
  padding: 0;
}

h1 {
  margin: 0;
}

hr {
  border-top-color: #e5e5e5;
}

ul {
  display: inline;
  margin: 0;
}

.issue-title {
  line-height: 40px;
}

.labels li {
  display : inline-block;
  background: #e5e5e5;
  border-radius: 3px;
  margin-right: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.labels li:hover {
  opacity: 0.75;
}

.labels li a, .labels li a:hover {
  color: white;
  font-weight: normal;
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 0;
}

.right {
  float:right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.inline {
  display: inline;
}

textarea, input {
  width: 100%;
}



