.layout-minor {
  color: black;
}

.layout-minor ul {
  color: black;
}

.comment-body {
  padding-left: 18px;
}

.layout-semibreve, .layout-chimney, .layout-chimney-invert, .layout-breve {
  padding: 0;
}

h1 {
  margin: 0;
}

.label {
  border: 1px solid #00a175;
  display: inline-block;
  background-color:#00a175;
  color: #fff;
  text-align: center;
  border-radius: .33em;
  margin: 5px;
  padding: 0 10px;
  font-family: Interstate, 'Gotham A', 'Gotham B', 'Open Sans Regular', Verdana, Helvetica, Arial;
  font-size:0.85em;
}
