.layout-minor {
  color: black;
}

.layout-minor ul {
  color: black;
}

.comment-body {
  padding-left: 18px;
}

.layout-semibreve, .layout-chimney, .layout-chimney-invert, .layout-breve {
  padding: 0;
}

h1 {
  margin: 0;
}

.label {
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-weight: normal;
  margin: 0 5px 8px 0;
  padding: 3px 13px;
}

textarea {
  width: 100%;
}

